In [1]:
print("hello world")

hello world

In [2]:
print("2+3")

2+3

In [3]:
print(2+4)

6

In [6]:
print("hello world")

hello world

In [20]:
import pandas as pd
df = pd.read_csv(r'C:\Users\raopr\Desktop\Python\ML Project\Video Games Sales.csv')
df.shape

(1907, 13)

In [21]:
df.describe()

,index,Rank,Year,North America,Europe,Japan,Rest of World,Global,Review
count,1907.0000,1907.0000,1878.000000,1907.000000,1907.000000,1907.000000,1907.000000,1907.000000,1907.000000
mean,953.0000,954.0000,2003.766773,1.258789,0.706675,0.317493,0.206471,2.489240,79.038977
std,550.6478,550.6478,5.895369,1.956560,1.148904,0.724945,0.343093,3.563159,10.616899
min,0.0000,1.0000,1983.000000,0.000000,0.000000,0.000000,0.000000,0.830000,30.500000
25%,476.5000,477.5000,2000.000000,0.510000,0.230000,0.000000,0.060000,1.110000,74.000000
50%,953.0000,954.0000,2005.000000,0.810000,0.440000,0.020000,0.130000,1.530000,81.000000
75%,1429.5000,1430.5000,2008.000000,1.375000,0.810000,0.300000,0.220000,2.540000,86.230000
max,1906.0000,1907.0000,2012.000000,40.430000,28.390000,7.200000,8.540000,81.120000,97.000000

In [22]:
df.values

array([[0, 1, 'Wii Sports', ..., 8.54, 81.12, 76.28],
       [1, 2, 'Super Mario Bros.', ..., 0.77, 40.24, 91.0],
       [2, 3, 'Mario Kart Wii', ..., 3.21, 33.55, 82.07],
       ...,
       [1904, 1905, 'SingStar Abba', ..., 0.14, 0.83, 73.0],
       [1905, 1906, 'FIFA Soccer World Championship', ..., 0.07, 0.83,
        73.0],
       [1906, 1907, 'WWE SmackDown vs. Raw 2011', ..., 0.09, 0.83, 82.0]],
      dtype=object)

In [29]:
music_data = pd.read_csv(r'C:\Users\raopr\Desktop\Python\ML Project\music.csv')
X = music_data.drop(columns=['genre'])
Y = music_data['genre']

In [33]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

music_data = pd.read_csv(r'C:\Users\raopr\Desktop\Python\ML Project\music.csv')
X = music_data.drop(columns=['genre'])
Y = music_data['genre']


model = DecisionTreeClassifier()
model.fit(X, Y)
music_data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [37]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

music_data = pd.read_csv(r'C:\Users\raopr\Desktop\Python\ML Project\music.csv')
X = music_data.drop(columns=['genre'])
Y = music_data['genre']


model = DecisionTreeClassifier()
model.fit(X, Y)
predictions = model.predict([ [21, 1], [22, 0], [35, 1] ])
predictions

C:\Users\raopr\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['HipHop', 'Dance', 'Classical'], dtype=object)

In [38]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score


music_data = pd.read_csv(r'C:\Users\raopr\Desktop\Python\ML Project\music.csv')
X = music_data.drop(columns=['genre'])
Y = music_data['genre']
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

model = DecisionTreeClassifier()
model.fit(X_train, Y_train)
predictions = model.predict(X_test)

score = accuracy_score(Y_test, predictions)
score

1.0